$text-color: #585858
$h-color: #2C2C2C
$h-sec-color: #004AF2
$intro-text-color: #fff
$section-bg-color: #fff
$active-color: #004AF2
$form-header-color: #033FC9
$form-color: #004AF2
$btn-gr-1: #FF903E
$btn-gr-2: #FF2C2C
$link-color: #004AF2
$active-link-color: #FF3E2F
$photo-border: #fff